#timerBody {
  width: 800px;
  height: 300px;
  border-radius: 40px;
  background-color: rgba(0, 0, 0, 0.05);
  padding: 30px 70px;
  position: relative;
}
#timerDisplay {
  width: 180px;
  height: 180px;
  border-radius: 30px;
  background: #e0e0e0;
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
  font-size: 5rem;
  color: rgba(0, 0, 0, 0.7);
}

#setTimer input {
  all: unset;
  width: 50px;
  height: 20px;
  background-color: #e0e0e0;
  border: 1px solid rgba(255, 255, 255, 0.612);
}
